* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big_container {
  width: 350px;
  height: 450px;
  border: 3px solid white;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #4b4d5e;
}

.screen {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 25px auto;
  border-radius: 5px;
  background-color: #dcdcde;
  text-align: end;
  font-size: 40px; 
  overflow: auto;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-column-gap: 10px;
  width: 300px;
  height: 260px;
  margin: 25px auto;
  border-radius: 5px;
  padding-left: 2px;
  padding-top: 10px;
}

.btns {
  display: flex;
  height: 50px;
  border: 3px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(91, 145, 227);
  color: white;
  border: none;
}

.btns:hover {
  background-color: #4ab0c7;
  color: red;
}

button {
  height: 100%;
  width: 100%;
}

.container .equals {
  height: 115px;
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.equals img {
  width: 44px;
  padding: 70% 2px;
}

.C_C {
  background-color: red;
}
/* 
